body, html{
	margin:0;
	/*font-family: 'roboto';*/
	padding: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
.home_wraper{
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/home_bck.png");
    background-position: center;
	background-size: cover;
    float: left;
}
 .logo{
	width:130px;
	height:100px;
	margin: 2% 0 0 4%;
}
.logo img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
/*Social icons*/
.home_wraper .social .social_menu {
	list-style:none;
	margin-top:8%;
	box-sizing: border-box;
	float: left;
	padding: 0;
}
.home_wraper .social .social_menu li{
	width:55px;
	height: 55px;
	border: 1px solid #c0afcf;
	color:white;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	padding-top:15px;
}
.home_wraper .social .first{
	margin-left: 4%;
}
.home_wraper .social .first li{
	border-radius: 50%;
	margin: 15px 0;
}
.home_wraper .social .first .first_one{
	background: url("../images/icons/fb.png") no-repeat center;
	background-size: 50%;
}
.home_wraper .social .first .first_one:hover{
	background: url("../images/icons/fb_hover.png") no-repeat center;
	background-size: 60%;
	transition: all .4 ease-in-out;
}
.home_wraper .social .first .first_two{
	background: url("../images/icons/in.png") no-repeat center;
	background-size: 40%;
}
.home_wraper .social .first .first_two:hover{
	background: url("../images/icons/in_hover.png") no-repeat center;
	background-size: 50%;
	transition: all .4 ease-in-out;
}
.home_wraper .social .first .first_three{
	background: url("../images/icons/sta.png") no-repeat center;
	background-size: 40%;
}
.home_wraper .social .first .first_three:hover{
	background: url("../images/icons/sta_hover.png") no-repeat center;
	background-size: 50%;
	transition: all .4 ease-in-out;
}
.home_wraper .social .social_menu li:hover{
	border: 1px solid #fff;
}
.home_wraper .social .two{
	float: right;
	margin-right: 4%;
}
.home_wraper .social .two .two_one{
	background: url("../images/icons/home.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .tooltiptext {
    visibility: hidden;
    padding: 5px 5px;
    background-color:#7c6991;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 105%;
}

.home_wraper .social .two li:hover .tooltiptext {
    visibility: visible;
}
.home_wraper .social .two .two_one:hover{
	background: url("../images/icons/home_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
.home_wraper .social .two .two_two{
	background: url("../images/icons/about.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .two_two:hover{
	background: url("../images/icons/about_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
.home_wraper .social .two .two_three{
	background: url("../images/icons/idea.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .two_three:hover{
	background: url("../images/icons/idea_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
.home_wraper .social .two .two_four{
	background: url("../images/icons/letter.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .two_four:hover{
	background: url("../images/icons/letter_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
/*mask*/
.mask{
	display: none;
}

/*about page*/
.contact{
	width:70%;
	line-height: 100%;
	vertical-align: middle;
	margin:0 auto;
	margin-top: -3%;
}
.contact h1{
	margin: 0;
	padding: 0;
	font-size: 35px;
	text-transform: uppercase;
	color:#fff;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	animation-name: show;
  	animation-duration: 1s;
  	margin-bottom: 10%;
}
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.contact .contact_info{
	width: 45%;
	float: left;
	text-align: center;
}
.contact .contact_info h2{
	margin: 0;
	padding: 0;
	font-size: 40px;
	color:#fff;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	animation-name: show;
  	animation-duration: 1s;
  	margin-top: 15%;
  	margin-bottom: 10%;
}
.contact .contact_info h3{
	margin: 0;
	padding: 0;
	font-size: 22px;
	color:#fff;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	animation-name: show;
  	animation-duration: 1s;
  	margin-bottom: 5%;
}
.contact .contact_form{
	width: 45%;
	float: left;
	margin-left: 5%;
}
.contact .contact_form input{
	width: 90%;
	margin: 0 auto;
	height: 40px;
	background-color: #c0afcf;
	border-style: none;
	border-radius: 5px;
	margin-bottom: 30px;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8); 
}
.contact .contact_form input::placeholder{
	color: #523468;
	padding-left: 15px;
}
.contact .contact_form textarea{
	width: 90%;
	margin: 0 auto;
	height: 100px;
	background-color: #c0afcf;
	border-style: none;
	border-radius: 5px;
	margin-bottom: 30px;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8); 
}
.contact .contact_form textarea::placeholder{
	color: #523468;
	padding-left: 15px;
	padding-top: 10px;
	font-family: 'Roboto'
}
.contact .contact_form button{
	text-transform: uppercase;
	padding: 15px 25px;
	font-size: 16px;
	font-weight: 300;
	color: #c0afcf;
	border: 1px solid #fff;
	background-color: #47265f;
	border-style: none;
	border-radius: 5px;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
	/*-webkit-box-shadow:0 0 20px rgba(255,255,255,0.8);
    -moz-box-shadow:0 0 20px rgba(255,255,255,0.8);
    box-shadow:0 0 20px rgba(255,255,255,0.8); */ 
}