body, html{
	margin:0;
	/*font-family: 'roboto';*/
	padding: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.clear {
	clear: both;
}

.home_wraper{
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/home_bck.png");
    background-position: center;
	background-size: cover;
    float: left;
    position: relative;
}
 .logo{
	width:130px;
	height:100px;
	margin: 2% 0 0 4%;
}
.logo img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
/*Social icons*/
.home_wraper .social .social_menu {
	list-style:none;
	margin-top:8%;
	box-sizing: border-box;
	float: left;
	padding: 0;
}
.home_wraper .social .social_menu li{
	width:55px;
	height: 55px;
	border: 1px solid #c0afcf;
	color:white;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	padding-top:15px;
}
.home_wraper .social .first{
	margin-left: 4%;
}
.home_wraper .social .first li{
	border-radius: 50%;
	margin: 15px 0;
}
.home_wraper .social .first .first_one{
	background: url("../images/icons/fb.png") no-repeat center;
	background-size: 50%;
}
.home_wraper .social .first .first_one:hover{
	background: url("../images/icons/fb_hover.png") no-repeat center;
	background-size: 60%;
	transition: all .4 ease-in-out;
}
.home_wraper .social .first .first_two{
	background: url("../images/icons/in.png") no-repeat center;
	background-size: 40%;
}
.home_wraper .social .first .first_two:hover{
	background: url("../images/icons/in_hover.png") no-repeat center;
	background-size: 50%;
	transition: all .4 ease-in-out;
}
.home_wraper .social .first .first_three{
	background: url("../images/icons/sta.png") no-repeat center;
	background-size: 40%;
}
.home_wraper .social .first .first_three:hover{
	background: url("../images/icons/sta_hover.png") no-repeat center;
	background-size: 50%;
	transition: all .4 ease-in-out;
}
.home_wraper .social .social_menu li:hover{
	border: 1px solid #fff;
}
.home_wraper .social .two{
	float: right;
	margin-right: 4%;
}
.home_wraper .social .two .two_one{
	background: url("../images/icons/home.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .tooltiptext {
    visibility: hidden;
    padding: 5px 5px;
    background-color:#7c6991;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 105%;
}

.home_wraper .social .two li:hover .tooltiptext {
    visibility: visible;
}
.home_wraper .social .two .two_one:hover{
	background: url("../images/icons/home_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
.home_wraper .social .two .two_two{
	background: url("../images/icons/about.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .two_two:hover{
	background: url("../images/icons/about_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
.home_wraper .social .two .two_three{
	background: url("../images/icons/idea.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .two_three:hover{
	background: url("../images/icons/idea_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
.home_wraper .social .two .two_four{
	background: url("../images/icons/letter.png") no-repeat center;
	background-size: 65%;
	background-position: center;
	position: relative;
    display: block;
}
.home_wraper .social .two .two_four:hover{
	background: url("../images/icons/letter_hover.png") no-repeat center;
	background-size: 75%;
	background-position: center;
}
/*mask*/
.mask{
	display: none;
}

/*about page*/
.projects{
	position: absolute;
	width:60%;
	top: 50%;
	left: 20%;
	/*transform: translateX(-50%);*/
	transform: translateY(-50%);
	/*display: flex;*/
	/*justify-content: center;*/
	overflow: hidden;
	/*line-height: 100%;*/
	/*vertical-align: middle;*/
	margin:0 auto;
	/*margin-top: -3%;*/
}
.projects h1{
	margin: 0;
	padding: 0;
	font-size: 35px;
	text-transform: uppercase;
	color:#fff;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	animation-name: show;
  	animation-duration: 1s;
  	margin-bottom: 6%;
}
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.projects .project_wrap{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	/*height: 70%;*/
}
.projects .project{
	width: 500px;
	max-height: 210px;
	box-sizing: border-box;
	float: left;
	border-radius: 10px;
	overflow-y: hidden;
	margin-bottom: 30px;
	animation-name: show;
  	animation-duration: 3s;
  	cursor: pointer;
  	position: relative;
}
.projects .project_wrap .first{
	margin-right:10%;
}
.projects .project img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 1;
  	display: block;
  width: 100%;
  height: auto;
}
.projects .project .over{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #47265f;
  
}
.projects .project .over ul{
	list-style: none;
	margin: 0;
	padding:0;
	
}
.projects .project .over li h3{
	color: white;
	margin: 0;
  font-size: 18px;
  font-weight: 400;
  padding-top: 15px;
  /*padding-left: 30%;*/
 /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  text-align: center;
}
.projects .project .one ul{
	margin-top:20px;
}
.projects .project .three ul{
	margin-top:45px;
}
.projects .project .four ul{
	margin-top:80px;
}
.projects .project:hover{
	-webkit-box-shadow:0 0 20px rgba(255,255,255,0.8);
    -moz-box-shadow:0 0 20px rgba(255,255,255,0.8);
    box-shadow:0 0 20px rgba(255,255,255,0.8); 
}
.projects .project:hover img{
	opacity: 0.3;
}
.projects .project:hover .over{
	opacity: .6;
}